* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #FFEFE7;
}

.navbar {
  width: 100%;
  height: 10Vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  margin-bottom: 10px;
}
.navbar svg path {
  stroke: #7C6A0A;
}
.navbar p {
  font-size: 2rem;
  font-weight: 500;
  color: #7C6A0A;
  letter-spacing: 0.13rem;
}
.navbar .nav-icons {
  color: #7C6A0A;
  display: flexbox;
}
.navbar .nav-icons a {
  gap: 20px;
}
.navbar .nav-icons a:hover {
  filter: drop-shadow(0 0 0.75rem #7C6A0A);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.main-section {
  padding: 30px 20px;
}
.main-section article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main-section article .main_info-section {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 60px;
  padding-top: 40px;
}
.main-section article .main_info-section h1 {
  font-size: 2.2rem;
  color: #7C6A0A;
}
.main-section article .main_info-section p {
  color: #7C6A0A;
  font-size: 1.4rem;
}
.main-section article .main_info-section button {
  background-color: #FA9500;
  border: none;
  border-radius: 20px;
  width: 120px;
  padding: 10px 0;
  color: #FFEFE7;
  font-weight: bold;
}
.main-section article .main_info-section button:hover {
  filter: drop-shadow(0 0 0.75rem #E86424);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main-section article .main_img-section {
  width: 400px;
}
.main-section article .main_img-section img {
  width: 100%;
  border-radius: 5px;
}

.healtcare, .furniture {
  margin-bottom: 20px;
}
.healtcare h2, .furniture h2 {
  font-weight: 500;
  color: #7C6A0A;
  margin-bottom: 20px;
}
.healtcare .healt-cards:hover, .furniture .healt-cards:hover {
  filter: drop-shadow(0 0 0.77rem #eeaf8e);
  transform: scale(1.07);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.healtcare .healt-cards_container, .furniture .healt-cards_container, .furniture .forniture-cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  justify-content: space-between;
}
.healtcare .healt-cards_container article, .furniture .healt-cards_container article, .furniture .forniture-cards_container article {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 40px;
  width: 300px;
  height: auto;
  min-height: 350px;
  background-color: #FFDAC6;
  border-radius: 10px;
  color: #7C6A0A;
  gap: 10px;
}
.healtcare .healt-cards_container article span, .furniture .healt-cards_container article span, .furniture .forniture-cards_container article span {
  background-image: url(/assets/svg/heart.svg);
  background-position: center;
  background-size: cover;
  width: 31px;
  height: 31px;
  align-self: flex-end;
  color: #7C6A0A;
}
.healtcare .healt-cards_container article span svg, .furniture .healt-cards_container article span svg, .furniture .forniture-cards_container article span svg {
  stroke: #7C6A0A;
}
.healtcare .healt-cards_container article img, .furniture .healt-cards_container article img, .furniture .forniture-cards_container article img {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}
.healtcare .healt-cards_container article .text-container_card, .furniture .healt-cards_container article .text-container_card, .furniture .forniture-cards_container article .text-container_card {
  display: inherit;
  flex-direction: inherit;
  gap: 4px;
}
.healtcare .healt-cards_container article .text-container_card p, .furniture .healt-cards_container article .text-container_card p, .furniture .forniture-cards_container article .text-container_card p {
  font-size: 0.9rem;
}

.furniture .forniture-cards:hover {
  filter: drop-shadow(0 0 0.75rem #BABD8D);
  transform: scale(1.07);
  transition: all 0.3s ease-in-out;
}
.furniture .forniture-cards_container article {
  background-color: #BABD8D;
  color: #FFEFE7;
}

.about-section h2 {
  color: #7C6A0A;
  font-weight: 500;
  margin-bottom: 40px;
}
.about-section .about-us {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
  width: 100%;
}
.about-section .about-us div {
  align-items: center;
  display: inherit;
  color: #E86424;
  width: 30%;
  gap: 10px;
}
.about-section .about-us div img {
  margin-right: 20px;
}
.about-section .about-us div img:hover {
  filter: drop-shadow(0 0 0.75rem #7C6A0A);
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.about-section .about-us div p {
  width: 300px;
  text-align: center;
}

.gallery {
  width: 100%;
  margin-bottom: 40px;
}
.gallery h2 {
  font-weight: 800;
}
.gallery .img-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}
.gallery .img-container img {
  width: 300px;
  height: 300px;
  border-radius: 4px;
}
.gallery .img-container img:hover {
  filter: drop-shadow(0 0 0.5rem #BABD8D);
  transform: scale(1.07);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.location h2 {
  font-weight: 500;
  font-size: 1.5rem;
}
.location .map {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.location .map img {
  border-radius: 5px;
  width: 100%;
}
.location h3, .location p {
  padding-left: 20px;
  color: #E86424;
  margin-bottom: 10px;
  font-weight: 500;
}

footer {
  padding: 30px 20px;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #FA9500;
  color: #FFEFE7;
}
footer ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer ul li:hover {
  filter: drop-shadow(0 0 0.5rem #FFEFE7);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
footer .icons-sn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer .icons-sn img {
  width: 30px;
}
footer .icons-sn img:hover {
  filter: drop-shadow(0 0 0.5rem #FFEFE7);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=main.css.map */